* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ref_container {
    width: 100%;
}

.header_ref {
    display: flex;
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;
}

.header_ref_second {
    display: flex;
    background-color: white;
    width: 100%;
    color: white;
    margin-top: 250px;
    flex-direction: column;
}

.header_ref-cover {
    margin: auto;
    margin-top: 115px;
}

.header_ref-title {
    display: flex;
    margin: auto;
}

.header_ref-button {
    display: flex;
    padding-left: 71px;
    margin-top: 15px;
}

.ref_dot {
    color: white;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    display: flex;
    border: 1px solid black;
}

.pa_cover_one {
    margin-bottom: 50px;
}

.ref_image-row {
    flex-wrap: wrap;
    width: 100%;
}

.picture_item1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.ime {
    width: calc(100%/1);
}

img {
    width: 100%;
    height: 100%;
}

.section_cover {
    margin: auto;
}

.section_cover-header {
    margin-top: 150px;
    text-align: center;
}

.section-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.special_dot {
    display: flex;
    margin-top: 20px;
    margin-left: 11px;
}

.tieude_ref {
    display: flex;
}


/* man hinh 1028 */

.ref_cover {
    /* display: flex;
    justify-content: center;
    margin-bottom: 150px; */
    flex-direction: column;
}

.pa_cover_one {
    padding-right: 50px;
    margin-left: 74px;
}

.two_cover {
    padding-right: 50px;
    margin-left: 74px;
}

.phan1 {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    height: 150px;
    background: #FFFFFF;
    /* position: relative; */
    width: fit-content;
    margin: auto;
}

.phan2 {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    height: 150px;
    width: fit-content;
    /* position: relative; */
    margin: auto;
}

.tieude_ref {
    margin-top: 20px;
    justify-content: center;
}

.ref_pa {
    font-size: small;
    color: #333;
    font-family: sans-serif;
    margin-top: 18px;
}

.separate {
    padding-left: 13px;
    position: relative;
}

.icon {
    font-size: small;
    color: #3c6fce;
}

.linebetween .icon {
    margin-top: 8px;
}

.separate .icon {
    margin-top: 8px;
}

.linebetween {
    padding-left: 13px;
    position: relative;
}

.doantext {
    font-size: small;
}

h4 {
    font-size: small;
}

.triangle1,
.square {
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    transform: rotate(-180deg);
    top: 100%;
    right: 75%;
    position: absolute;
}


/* TABLET  */

@media(min-width: 768px) {
    .ref_container {
        width: 100%;
        flex-direction: column;
    }
    .ime {
        width: calc(100%/2);
    }
}


/* TABLET BU VA LAPTOP */

@media(min-width: 992px) {
    .container {
        width: 100%;
        flex-direction: row;
    }
    .ime {
        width: calc(100%/3);
    }
    .ref_cover {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
}


/* LATOP */

@media(min-width: 1028px) {
    .container {
        width: 100%;
    }
    .ime {
        width: calc(100%/4);
    }
    .ref_cover {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
}


/* 1280 */

@media(min-width: 1280px) {
    .container {
        width: 100%;
    }
    .ime {
        width: calc(100%/4);
    }
    .ref_cover {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}


/* .phan1:after {
    content: '';
    display: block;
    position: absolute;
    top: 245%;
    right: 70%;
    width: 19px;
    height: 19px;
    background: #FFFFFF;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(45deg);
}

.phan2:after {
    content: '';
    display: block;
    position: absolute;
    top: 245%;
    right: 37%;
    width: 19px;
    height: 19px;
    background: #FFFFFF;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(45deg);
} */