* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ref_container {
    width: 100%;
}

.ref_header {
    display: flex;
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;
}

.ref_header_second {
    display: flex;
    background-color: white;
    width: 100%;
    color: white;
    margin-top: 250px;
    flex-direction: column;
}

.ref_header-cover {
    margin: auto;
    margin-top: 115px;
}

.ref_header-title {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: larger;
}

.ref_header-button {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.ref_dot {
    height: 41px;
    width: 40px;
    margin: -6px 13px;
    background-color: #6d6a6a;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    display: flex;
    border: 1px solid 6d6a6a;
}

.ref_fix_cover_one {
    margin-bottom: 50px;
}

.ref_image-row {
    flex-wrap: wrap;
    width: 100%;
}

.ref_picture_item {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.ref_ime {
    width: calc(100%/1);
}

.ref_img {
    width: 100%;
    height: 100%;
}

.ref_rectangle {
    padding-right: 22px;
    border-color: aqua;
    height: 4px;
    border-top-width: 3px;
    border: 1px solid #2393f5;
}

.ref_section_cover {
    margin: auto;
}

.ref_section_cover-header {
    margin-top: 66px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: larger;
}

.ref_section-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 7px;
}

.ref_special_dot {
    display: flex;
    margin-top: 20px;
    margin-left: 11px;
}

.ref_double-quote {
    font-size: xxx-large;
    font-weight: bold;
    margin-top: -11px;
    color: #96989e7a;
}

.ref_title {
    display: flex;
    margin-left: 80px;
}


/* man hinh 1028 */

.ref_cover {
    flex-direction: column;
}

.ref_part1 {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    background: #FFFFFF;
    /* width: fit-content; */
    margin: auto;
    border-color: #96989e7a;
    /* height: 120px; */
    width: 287px;
    height: 162px;
    position: relative;
}

.ref_part2 {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    /* width: fit-content; */
    margin: auto;
    border-color: #96989e7a;
    /* height: 120px; */
    width: 287px;
    height: 162px;
    position: relative;
}

.ref_title {
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.ref_pa {
    font-size: small;
    color: #333;
    font-family: sans-serif;
    margin-top: 18px;
    padding-right: 20px;
    font-family: serif;
}

.ref_separate {
    padding-left: 13px;
    position: relative;
}

.ref_icon {
    font-size: small;
    color: #2393f5;
}

.ref_linebetween .ref_icon {
    margin-top: 17px;
}

.ref_separate .ref_icon {
    margin-top: 17px;
}

.ref_linebetween {
    padding-left: 13px;
    position: relative;
}

.ref_sentence {
    font-size: small;
    font-family: serif;
}

.ref_head_text {
    font-size: small;
    font-family: serif;
}

.ref_triangle1,
.ref_square {
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    transform: rotate(-180deg);
    top: 100%;
    right: 75%;
    position: absolute;
}

.ref_part1:after {
    content: '';
    display: block;
    position: absolute;
    top: 95%;
    right: 63%;
    width: 34px;
    height: 16px;
    background: #FFFFFF;
    border-right: 1px solid #96989e7a;
    border-bottom: 1px solid #96989e7a;
    transform: rotate(25deg);
}

.ref_part2:after {
    content: '';
    display: block;
    position: absolute;
    top: 95%;
    right: 63%;
    width: 34px;
    height: 16px;
    background: #FFFFFF;
    border-right: 1px solid #96989e7a;
    border-bottom: 1px solid #96989e7a;
    transform: rotate(25deg);
}


/* TABLET  */

@media(min-width: 768px) {
    .ref_container {
        width: 100%;
        flex-direction: column;
    }
    .ref_ime {
        width: calc(100%/2);
    }
    .ref_part1 {
        height: 120px;
        width: fit-content;
    }
    .ref_part2 {
        height: 120px;
        width: fit-content;
    }
    .ref_title {
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 20px;
    }
    .ref_cover {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .ref_two_cover {
        margin-left: 17px;
    }
    .ref_part1:after {
        content: '';
        display: block;
        position: absolute;
        top: 92%;
        right: 68%;
        width: 32px;
        height: 17px;
        background: #FFFFFF;
        border-right: 1px solid #96989e7a;
        border-bottom: 1px solid #96989e7a;
        transform: rotate(27deg);
    }
    .ref_part2:after {
        content: '';
        display: block;
        position: absolute;
        top: 92%;
        right: 68%;
        width: 32px;
        height: 17px;
        background: #FFFFFF;
        border-right: 1px solid #96989e7a;
        border-bottom: 1px solid #96989e7a;
        transform: rotate(27deg);
    }
}


/* TABLET BU VA LAPTOP */

@media(min-width: 992px) {
    .ref_container {
        width: 100%;
        flex-direction: row;
    }
    .ref_ime {
        width: calc(100%/3);
    }
    .ref_cover {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .ref_part1 {
        height: 120px;
        width: fit-content;
    }
    .ref_part2 {
        height: 120px;
        width: fit-content;
    }
    .ref_two_cover {
        margin-left: 17px;
    }
    .tieude_ref {
        margin-top: 20px;
        margin-left: 20px;
    }
    .ref_part1:after {
        content: '';
        display: block;
        position: absolute;
        top: 92%;
        right: 68%;
        width: 32px;
        height: 17px;
        background: #FFFFFF;
        border-right: 1px solid #96989e7a;
        border-bottom: 1px solid #96989e7a;
        transform: rotate(27deg);
    }
    .ref_part2:after {
        content: '';
        display: block;
        position: absolute;
        top: 92%;
        right: 68%;
        width: 32px;
        height: 17px;
        background: #FFFFFF;
        border-right: 1px solid #96989e7a;
        border-bottom: 1px solid #96989e7a;
        transform: rotate(27deg);
    }
}


/* LATOP */

@media(min-width: 1028px) {
    .ref_container {
        width: 100%;
    }
    .ref_ime {
        width: calc(100%/4);
    }
    .ref_cover {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .ref_part1 {
        height: 120px;
        width: fit-content;
    }
    .ref_part2 {
        height: 120px;
        width: fit-content;
    }
    .ref_two_cover {
        margin-left: 17px;
    }
    .ref_title {
        margin-top: 20px;
        margin-left: 20px;
    }
    .ref_part1:after {
        content: '';
        display: block;
        position: absolute;
        top: 92%;
        right: 68%;
        width: 32px;
        height: 17px;
        background: #FFFFFF;
        border-right: 1px solid #96989e7a;
        border-bottom: 1px solid #96989e7a;
        transform: rotate(27deg);
    }
    .ref_part2:after {
        content: '';
        display: block;
        position: absolute;
        top: 92%;
        right: 68%;
        width: 32px;
        height: 17px;
        background: #FFFFFF;
        border-right: 1px solid #96989e7a;
        border-bottom: 1px solid #96989e7a;
        transform: rotate(27deg);
    }
}


/* 1280 */

@media(min-width: 1280px) {
    .ref_container {
        width: 100%;
    }
    .ref_ime {
        width: calc(100%/4);
    }
    .ref_cover {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .ref_two_cover {
        margin-left: 17px;
    }
    .ref_par1 {
        height: 120px;
        width: fit-content;
    }
    .ref_part2 {
        height: 120px;
        width: fit-content;
    }
    .ref_title {
        margin-top: 20px;
        margin-left: 20px;
    }
    .ref_part1:after {
        content: '';
        display: block;
        position: absolute;
        top: 92%;
        right: 68%;
        width: 32px;
        height: 17px;
        background: #FFFFFF;
        border-right: 1px solid #96989e7a;
        border-bottom: 1px solid #96989e7a;
        transform: rotate(27deg);
    }
    .ref_part2:after {
        content: '';
        display: block;
        position: absolute;
        top: 92%;
        right: 68%;
        width: 32px;
        height: 17px;
        background: #FFFFFF;
        border-right: 1px solid #96989e7a;
        border-bottom: 1px solid #96989e7a;
        transform: rotate(27deg);
    }
}


/* .ref_part1:after {
    content: '';
    display: block;
    position: absolute;
    top: 92%;
    right: 68%;
    width: 32px;
    height: 17px;
    background: #FFFFFF;
    border-right: 1px solid #96989e7a;
    border-bottom: 1px solid #96989e7a;
    transform: rotate(27deg);
} */


/* .ref_part2:after {
    content: '';
    display: block;
    position: absolute;
    top: 92%;
    right: 68%;
    width: 32px;
    height: 17px;
    background: #FFFFFF;
    border-right: 1px solid #96989e7a;
    border-bottom: 1px solid #96989e7a;
    transform: rotate(27deg);
} */